<h1>Регистрация</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" }%>

  <%= f.input :password,
              required: true,
              hint: ("(минимум #{@minimum_password_length} символов)" if @minimum_password_length),
              input_html: { autocomplete: "new-password" },
              label: 'Пароль' %>

  <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" },
              label: 'Подтвердите пароль' %>

  <%= f.button :submit, "Регистрация", class: "btn btn-primary" %>

<% end %>

<%= render "devise/shared/links" %>


