<%= simple_form_for @advertisement, html: { multipart: true } do |f| %>

  <%= f.input :ad_title, label: 'Название объявления', placeholder: 'Введите название объявления' %>

  <%= f.input :ad_text, label: 'Текст объявления', hint: "", hint_html: { id: "ads_text_length" }, placeholder: 'Введите текст объявления', input_html: { id: 'ads_text', onkeyup: 'advertisement_text_length()' } %>

  <%= f.input :category_id, collection: Category.order(:name), label: 'Выберите категорию' %>

  <div class="field">
    <div class="image-sortable">
      <% @advertisement.pictures.each do |picture| %>
        <div class="image">
          <%= hidden_field :advertisement, :pictures, multiple: true, value:  picture.cache_name || picture.identifier %>
          <%= image_tag picture.url(:thumb) %>
          <button type="button" class="remove-image btn btn-outline-danger">Удалить</button>
        </div>
      <% end %>
      <div class="image">
        <%= f.file_field :pictures, multiple: true %>
      </div>
    </div>
    <button type="button" class="add-image btn btn-primary">Ещё картинки!</button>
  </div>

  <%= f.button :submit, value: 'Сохранить', class: 'btn btn-primary' %>
  <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary' %>
<% end %>
