<h1>Типы объявлений</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тип</th>
      <th scope="col">Объявлений</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.advertisements.count %></td>
        <td>
          <%= link_to "Редактировать", edit_category_path(category), class: 'btn btn-warning' %>
          <%= link_to 'Удалить', category_path(category), class: 'btn btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Добавить тип", new_category_path, class: 'btn btn-primary' %>

