<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ADS PROJECT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= advertisements_path %>">Объявления<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Типы
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @categories.each do |category| %>
              <a class="dropdown-item" href="<%= category_path(category) %>"><%= category.name %></a>
            <% end %>
          </div>
        </li>
        <% if user_signed_in? && current_user.has_role?(:admin) %>
          <li class="nav-item">
             <%= link_to "Пользователи", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
             <%= link_to "Все типы", categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
             <%= link_to "Новые объявления", opened_advertisements_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav float-right">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if current_user.has_role?(:user) %>
                <%= link_to 'Мои объявления', custom_user_advertisements_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to 'Редактировать профиль', edit_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Вход', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Регистрация', new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

    </div>
  </nav>
</div>
